In [3]:
import pandas as pd
from functools import reduce
import pickle

In [4]:
power_agency = "Sap et al. -Connotation Frames of Agency and Power.csv"

power_agency = pd.read_csv(power_agency)
power_agency[["agency_1","agency_classifier"]]= power_agency["agency"].str.split("_",expand=True)
power_agency[["power_1","power_classifier"]]= power_agency["power"].str.split("_",expand=True)
power_agency = power_agency.drop(power_agency[["agency","power", "agency_1", "power_1"]], axis= 1)
power_agency=power_agency.drop(columns='agency_classifier')
power_agency = power_agency[power_agency['power_classifier'].isin(['agent','equal']) != True]
power_agency = power_agency.dropna()
power_agency['source']='power'
power_agency.set_axis(['feature', 'weight', 'source'], axis='columns', inplace=True)

In [5]:
communality = "Lawson et al. - Communality.csv"
communality = pd.read_csv(communality)
communality = communality.drop(columns=['Valence Mean', 'Valence SD','Communality SD'])
communality['source']='communality'
communality.set_axis(['feature', 'weight', 'source'], axis='columns', inplace=True)



agency = "Lawson et al. - Agency Words.csv"
agency = pd.read_csv(agency)
agency = agency.drop(agency.columns[[2,3,4]], axis=1)
agency = agency.rename(columns={'Word':'feature','Agency Mean':'weight'})
agency['source']='agency'

In [6]:
apperance = "Garg_apperance_words.csv"

apperance = pd.read_csv(apperance)

violence = "Violence_Grievence_Dicitonary.csv"
violence = pd.read_csv(violence)
violence = violence.rename(columns={'weights':'weight'})

In [7]:
PAC_words = [power_agency, communality, agency, violence, apperance]
df_attempt = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), PAC_words)

<ipython-input-7-8552c58f12ac>:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'weight_x', 'source_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_attempt = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), PAC_words)

In [8]:
PAC_words = [power_agency, communality, agency, violence, apperance]
result = pd.concat(PAC_words)
result = result.drop(columns='weight')
result = result.drop(columns='weights')

In [9]:
result.to_csv("full_word_list")

In [10]:
from nltk import word_tokenize, pos_tag, pos_tag_sents
import pandas as pd
df = result
texts = df['feature'].tolist()
tagged_texts = pos_tag_sents(map(word_tokenize, texts))
df['POS'] = tagged_texts
df

        feature     source                   POS
8   accompanies      power  [(accompanies, NNS)]
15     achieves      power     [(achieves, NNS)]
28      admires      power      [(admires, NNS)]
29       admits      power       [(admits, NNS)]
31       adores      power       [(adores, NNS)]
..          ...        ...                   ...
20         weak  Apperance          [(weak, JJ)]
21         thin  Apperance          [(thin, NN)]
22       pretty  Apperance        [(pretty, RB)]
23    beautiful  Apperance     [(beautiful, NN)]
24       strong  Apperance        [(strong, JJ)]

[864 rows x 3 columns]

In [11]:
df3 = df.POS.apply(pd.Series)
df3.columns = ['1', '2','3','4']
df3['a'] = df3['1'].str[1]
df3['b'] = df3['1'].str[0]

In [12]:
df3

                     1    2    3    4    a            b
8   (accompanies, NNS)  NaN  NaN  NaN  NNS  accompanies
15     (achieves, NNS)  NaN  NaN  NaN  NNS     achieves
28      (admires, NNS)  NaN  NaN  NaN  NNS      admires
29       (admits, NNS)  NaN  NaN  NaN  NNS       admits
31       (adores, NNS)  NaN  NaN  NaN  NNS       adores
..                 ...  ...  ...  ...  ...          ...
20          (weak, JJ)  NaN  NaN  NaN   JJ         weak
21          (thin, NN)  NaN  NaN  NaN   NN         thin
22        (pretty, RB)  NaN  NaN  NaN   RB       pretty
23     (beautiful, NN)  NaN  NaN  NaN   NN    beautiful
24        (strong, JJ)  NaN  NaN  NaN   JJ       strong

[864 rows x 6 columns]

In [13]:
new_col = pd.merge(df, df3, left_on = df3['b'], right_on= df['feature'])
new_col = new_col.rename(columns = {'a': 'pos_tag'})
new_col = new_col.drop(columns=['POS','1','2','3','4','b','key_0'])
left = new_col['pos_tag'].str[:1]
left = pd.DataFrame(left)
left = left.rename(columns={'pos_tag':'pos_tag_short'})

In [14]:
new_col

         feature     source pos_tag
0    accompanies      power     NNS
1       achieves      power     NNS
2        admires      power     NNS
3         admits      power     NNS
4         adores      power     NNS
..           ...        ...     ...
829          fat  Apperance      NN
830         weak  Apperance      JJ
831         thin  Apperance      NN
832       pretty  Apperance      RB
833    beautiful  Apperance      NN

[834 rows x 3 columns]

In [15]:
pos_tags = new_col.join(left, on=new_col.index)

In [16]:
new_file_name ="pos_tag_word_list"

with open(new_file_name, 'wb') as handle:
    pickle.dump(pos_tags, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [129]:
pos_tags['pos_tag_short'].value_counts()

N    668
J    118
V     38
R     10
Name: pos_tag_short, dtype: int64

Combine LogReg High results

In [130]:
#2010
df_10 = pd.read_pickle("RESULTS10_coef_high.pickle")
df_10.rename(columns = {'coef':'2010_c'}, inplace = True)
#df_10 = df_10.drop(columns=['coef_type'])
#2011
df_11 = pd.read_pickle("RESULTS11_coef_high.pickle")
df_11.rename(columns = {'coef':'2011_c'}, inplace = True)
#2012
df_12 = pd.read_pickle("RESULTS12_coef_high.pickle")
df_12.rename(columns = {'coef':'2012_c'}, inplace = True)
#2013
df_13 = pd.read_pickle("RESULTS13_coef_low.pickle")
df_13.rename(columns = {'coef':'2013_c'}, inplace = True)
#2014
#df_14 = pd.read_pickle("RESULTS14_coef_high.pickle")
#df_14.rename(columns = {'coef':'2014_c'}, inplace = True)
#2015
df_15 = pd.read_pickle("RESULTS15_coef_high.pickle")
df_15.rename(columns = {'coef':'2015_c'}, inplace = True)
#2016
df_16 = pd.read_pickle("RESULTS16_coef_high.pickle")
df_16.rename(columns = {'coef':'2016_c'}, inplace = True)
#2017
df_17 = pd.read_pickle("RESULTS17_coef_high.pickle")
df_17.rename(columns = {'coef':'2017_c'}, inplace = True)
#2018
df_18 = pd.read_pickle("RESULTS18_coef_high.pickle")
df_18.rename(columns = {'coef':'2018_c'}, inplace = True)
df_18 = df_18.drop(columns= 'coef_type')
#2019
df_19 = pd.read_pickle("RESULTS19_coef_high.pickle")
df_19.rename(columns = {'coef':'2019_c'}, inplace = True)
df_19 = df_19.drop(columns= 'coef_type')
#2020
df_20 = pd.read_pickle("RESULTS20_coef_high.pickle")
df_20.rename(columns = {'coef':'2020_c'}, inplace = True)
df_20 = df_20.drop(columns= 'coef_type')
#2021
df_21 = pd.read_pickle("RESULTS21_coef_high.pickle")
df_21.rename(columns = {'coef':'2021_c'}, inplace = True)
df_21 = df_21.drop(columns= 'coef_type')
#2022
df_22 = pd.read_pickle("RESULTS22_coef_high.pickle")
df_22.rename(columns = {'coef':'2022_c'}, inplace = True)
df_22 = df_22.drop(columns= 'coef_type')

In [131]:
df_list = [df_10, df_11, df_12, df_13, df_15, df_16, df_17, df_18, df_19, df_20, df_21, df_22]
#df = pd.merge(df_list, right on='feature', how='outer')

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), df_list)
df_high = pd.merge(df_merged, new_col, on='feature', how='outer')

In [ ]:
#2010
df_10 = pd.read_pickle("RESULTS10_coef_low.pickle")
df_10.rename(columns = {'coef':'2010_c'}, inplace = True)
#df_10 = df_10.drop(columns=['coef_type'])
#2011
df_11 = pd.read_pickle("RESULTS11_coef_low.pickle")
df_11.rename(columns = {'coef':'2011_c'}, inplace = True)
#2012
df_12 = pd.read_pickle("RESULTS12_coef_low.pickle")
df_12.rename(columns = {'coef':'2012_c'}, inplace = True)
#2013
df_13 = pd.read_pickle("RESULTS13_coef_low.pickle")
df_13.rename(columns = {'coef':'2013_c'}, inplace = True)
#2014
#df_14 = pd.read_pickle("RESULTS14_coef_low.pickle")
#df_14.rename(columns = {'coef':'2014_c'}, inplace = True)
#2015
df_15 = pd.read_pickle("RESULTS15_coef_low.pickle")
df_15.rename(columns = {'coef':'2015_c'}, inplace = True)
#2016
df_16 = pd.read_pickle("RESULTS16_coef_low.pickle")
df_16.rename(columns = {'coef':'2016_c'}, inplace = True)
#2017
df_17 = pd.read_pickle("RESULTS17_coef_low.pickle")
df_17.rename(columns = {'coef':'2017_c'}, inplace = True)
#2018
df_18 = pd.read_pickle("RESULTS18_coef_low.pickle")
df_18.rename(columns = {'coef':'2018_c'}, inplace = True)
df_18 = df_18.drop(columns= 'coef_type')
#2019
df_19 = pd.read_pickle("RESULTS19_coef_low.pickle")
df_19.rename(columns = {'coef':'2019_c'}, inplace = True)
df_19 = df_19.drop(columns= 'coef_type')
#2020
df_20 = pd.read_pickle("RESULTS20_coef_low.pickle")
df_20.rename(columns = {'coef':'2020_c'}, inplace = True)
df_20 = df_20.drop(columns= 'coef_type')
#2021
df_21 = pd.read_pickle("RESULTS21_coef_low.pickle")
df_21.rename(columns = {'coef':'2021_c'}, inplace = True)
df_21 = df_21.drop(columns= 'coef_type')
#2022
df_22 = pd.read_pickle("RESULTS22_coef_low.pickle")
df_22.rename(columns = {'coef':'2022_c'}, inplace = True)
df_22 = df_22.drop(columns= 'coef_type')

In [ ]:
df_list = [df_10, df_11, df_12, df_13, df_15, df_16, df_17, df_18, df_19, df_20, df_21, df_22]
#df = pd.merge(df_list, right on='feature', how='outer')

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), df_list)
df_low = pd.merge(df_merged, new_col, on='feature', how='outer')