In [5]:
#import csv
import pandas as pd

df = pd.read_csv('/Users/yolandaferreirofranchi/Documents/GitHub/Masters-Thesis/merged.csv')
df

,Unnamed: 0,feature,coef,2010_c,2011_c,2012_c,2013_c,2015_c,2016_c,2017_c,2018_c,coef_type_x,2019_c,coef_type_y,2020_c,coef_type_x.1,2021_c,coef_type_y.1,2022_c,coef_type
0,0,jade,13.845370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,boyfriend,12.797718,9.864651,NaN,2.722136,2.970981,5.542121,NaN,NaN,6.636499,highest,6.335546,highest,5.640018,highest,5.286002,highest,4.818898,highest
2,2,creative,12.640788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,mime,12.602833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,french,12.060647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,1931,pony,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.783478,highest
1932,1932,tearfully,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.782416,highest
1933,1933,budding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.777225,highest
1934,1934,arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.776941,highest
1935,1935,greville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.767179,highest

In [18]:
#words to manually remove
weird_words = ["radioÃ¢", "wouldnÃ¢", "yearÃ¢", "ofÃ¢ ", "doesnÃ¢", "heÃ¢", "stryder", "differentÃ¢", 
               "fiancÃ£", "holdall", "hui", "norgrove ", "iii", "shalifea", "xhosa", "kaaben", "hs", 
               "suah", "qeii", "rey", "ramanya", "omooba", "shekau"]

gendered_words = ["female", "granddaughter", "guy", "spokeswoman", "women", "businessman", 
                  "lad", "chairman", "businessman", "chairman"]

names = ["lewis", "alexandra", "ellie", "george", "griffin", "jade", "beyoncÃ©", 
        "heidi", "keisha", "gerry", "florence", "neil", "liam", "simon", "mcchrystal", 
        "fifa", "megrahi", "josh", "isabella", "helen", "nadine", "raytheon", "cheryl", 
        "laura", "eileen", "amanda", "jacqueline", "wolstencroft", "gagarin", "swinney", 
        "coulson", "lonergan", "werritty", "sandusky", "lyle", "bale", "jong", "romney", 
        "maxwell", "olly", "zuckerbeg", "terence", "elbaradei", "jonathan", "adele", 
        "sophie", "dorrian", "jessie", "zhai", "tymoshenko", "leila", "sturgeon", 
        "jessica", "julia", "malala", "lily", "amelia", "merkel", "kirsty", "frances", 
        "emma", "ben", "duncan", "carolina", "ben", "ian", "thatcher", "ruth", "katy", 
        "jayalalitha", "gwen", "nadia", "iris", "adina", "louie", "kerry", "gervais", 
        "grande", "scherzinger", "warren", "ormond", "randy", "giuliani", "evie", 
        "priti", "valerie", "serena", "lorde", "ivanka", "rachel", "manning", "ariana", 
        "josephine", "caroline", "christine", "mccomb", "jodie", "marie", "elle", 
        "dorian", "amina", "amelia", "nelly", "tara", "denise", "mina", "amy", "aretha", 
        "lula", "alfie", "joel", "jon", "arthur", "henry", "butina", "priya", "willie", 
        "yousef", "malcolm", "spacey", "jared", "karanbir", "paddy", "cardi", 
        "therese", "carolyn", "kristina", "tamara", "jeni", "yvonne", "canela", 
        "olga", "claire", "audie", "natasha", "sturgess", "madonna", "diaz", "tania", 
        "anita", "braun", "mackinnon", "ethan", "greg", "dicaprio", "oliver", "matthew", 
        "musk", "mohamed", "anthony", "eddie", "dylan", "adil", "mckeigue", "sebastian", 
        "greensill", "nigel", "iain", "limbaugh", "wjec", "noah", "mcconnell", 
        "sorokin", "loretta", "ruby", "lucy", "dorothy", "luisa", "carrie", "ella", 
        "eilidh", "halima", "jess", "michaela", "almeida", "mcdormand", "bea", "xia",
        "jill", "stuart", "tÃ¯", "djokovic", "keir", "sheeran", "dave", "jamie", 
        "chris", "zara", "mcgarry", "kate", "cressida", "chloe", "eilish"]

In [20]:
#remove values from list 
df = df.drop(df[df['feature'].isin(weird_words)].index)
df = df.drop(df[df['feature'].isin(gendered_words)].index)
df = df.drop(df[df['feature'].isin(names)].index)
df

,Unnamed: 0,feature,coef,2010_c,2011_c,2012_c,2013_c,2015_c,2016_c,2017_c,2018_c,coef_type_x,2019_c,coef_type_y,2020_c,coef_type_x.1,2021_c,coef_type_y.1,2022_c,coef_type
1,1,boyfriend,12.797718,9.864651,NaN,2.722136,2.970981,5.542121,NaN,NaN,6.636499,highest,6.335546,highest,5.640018,highest,5.286002,highest,4.818898,highest
2,2,creative,12.640788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,mime,12.602833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,french,12.060647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,cv,11.872815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,1931,pony,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.783478,highest
1932,1932,tearfully,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.782416,highest
1933,1933,budding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.777225,highest
1934,1934,arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.776941,highest
1935,1935,greville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.767179,highest