In [1]:
import pandas as pd
from functools import reduce
import pickle

In [4]:
apperance = "Garg_apperance_words.csv"

apperance = pd.read_csv(apperance)

violence = "Violence_Grievence_Dicitonary.csv"
violence = pd.read_csv(violence)
violence = violence.rename(columns={'weights':'weight'})

In [5]:
PAC_words = [power_agency, communality, agency, violence, apperance]
df_attempt = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), PAC_words)

<ipython-input-5-8552c58f12ac>:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'source_x', 'weight_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_attempt = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), PAC_words)

In [13]:
PAC_words = [power_agency, communality, agency, violence, apperance]
result = pd.concat(PAC_words)
result = result.drop(columns='weight')
result = result.drop(columns='weights')

In [14]:
result.to_csv("full_word_list")

In [15]:
from nltk import word_tokenize, pos_tag, pos_tag_sents
import pandas as pd
df = result
texts = df['feature'].tolist()
tagged_texts = pos_tag_sents(map(word_tokenize, texts))
df['POS'] = tagged_texts
df

        feature     source                POS
1878       wait      power       [(wait, NN)]
1932    worship      power    [(worship, NN)]
1951  apologize      power  [(apologize, VB)]
1952     assist      power     [(assist, NN)]
1953     behold      power     [(behold, NN)]
...         ...        ...                ...
20         weak  Apperance       [(weak, JJ)]
21         thin  Apperance       [(thin, NN)]
22       pretty  Apperance     [(pretty, RB)]
23    beautiful  Apperance  [(beautiful, NN)]
24       strong  Apperance     [(strong, JJ)]

[741 rows x 3 columns]

In [17]:
df3 = df.POS.apply(pd.Series)
df3.columns = ['1']
df3['a'] = df3['1'].str[1]
df3['b'] = df3['1'].str[0]

In [18]:
df3

                    1   a          b
1878       (wait, NN)  NN       wait
1932    (worship, NN)  NN    worship
1951  (apologize, VB)  VB  apologize
1952     (assist, NN)  NN     assist
1953     (behold, NN)  NN     behold
...               ...  ..        ...
20         (weak, JJ)  JJ       weak
21         (thin, NN)  NN       thin
22       (pretty, RB)  RB     pretty
23    (beautiful, NN)  NN  beautiful
24       (strong, JJ)  JJ     strong

[741 rows x 3 columns]

In [27]:
new_col = pd.merge(df, df3, left_on = df3['b'], right_on= df['feature'])
new_col = new_col.rename(columns = {'a': 'pos_tag'})
new_col = new_col.drop(columns=['POS','1','b','key_0'])
left = new_col['pos_tag'].str[:1]
left = pd.DataFrame(left)
left = left.rename(columns={'pos_tag':'pos_tag_short'})

In [30]:
pos_tags = new_col.join(left, on=new_col.index)

In [34]:
pos_tags['pos_tag_short'] = pos_tags['pos_tag_short'].replace({'R':'J', 'I':'N'})

In [35]:
new_file_name ="pos_tag_word_list"

with open(new_file_name, 'wb') as handle:
    pickle.dump(pos_tags, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [36]:
pos_tags['pos_tag_short'].value_counts()

N    628
J    111
V     38
Name: pos_tag_short, dtype: int64

Combine LogReg High results

In [ ]:
#2010
df_10 = pd.read_pickle("RESULTS10_coef_high.pickle")
df_10.rename(columns = {'coef':'2010_c'}, inplace = True)
df_10 = df_10.drop(columns=['coef_type','year'])
#2011
df_11 = pd.read_pickle("RESULTS11_coef_high.pickle")
df_11.rename(columns = {'coef':'2011_c'}, inplace = True)
df_11 = df_11.drop(columns=['coef_type','year'])
#2012
df_12 = pd.read_pickle("RESULTS12_coef_high.pickle")
df_12.rename(columns = {'coef':'2012_c'}, inplace = True)
df_12 = df_12.drop(columns=['coef_type','year'])
#2013
df_13 = pd.read_pickle("RESULTS13_coef_low.pickle")
df_13.rename(columns = {'coef':'2013_c'}, inplace = True)
df_13 = df_13.drop(columns=['coef_type','year'])
#2014
df_14 = pd.read_pickle("RESULTS14_coef_high.pickle")
df_14.rename(columns = {'coef':'2014_c'}, inplace = True)
df_14 = df_14.drop(columns=['coef_type','year'])
#2015
df_15 = pd.read_pickle("RESULTS15_coef_high.pickle")
df_15.rename(columns = {'coef':'2015_c'}, inplace = True)
df_15 = df_15.drop(columns=['coef_type','year'])
#2016
df_16 = pd.read_pickle("RESULTS16_coef_high.pickle")
df_16.rename(columns = {'coef':'2016_c'}, inplace = True)
df_16 = df_16.drop(columns=['coef_type','year'])
#2017
df_17 = pd.read_pickle("RESULTS17_coef_high.pickle")
df_17.rename(columns = {'coef':'2017_c'}, inplace = True)
df_17 = df_17.drop(columns=['coef_type','year'])
#2018
df_18 = pd.read_pickle("RESULTS18_coef_high.pickle")
df_18.rename(columns = {'coef':'2018_c'}, inplace = True)
df_18 = df_18.drop(columns=['coef_type','year'])
#2019
df_19 = pd.read_pickle("RESULTS19_coef_high.pickle")
df_19.rename(columns = {'coef':'2019_c'}, inplace = True)
df_19 = df_19.drop(columns=['coef_type','year'])
#2020
df_20 = pd.read_pickle("RESULTS20_coef_high.pickle")
df_20.rename(columns = {'coef':'2020_c'}, inplace = True)
df_20 = df_20.drop(columns=['coef_type','year'])
#2021
df_21 = pd.read_pickle("RESULTS21_coef_high.pickle")
df_21.rename(columns = {'coef':'2021_c'}, inplace = True)
df_21 = df_21.drop(columns=['coef_type','year'])
#2022
df_22 = pd.read_pickle("RESULTS22_coef_high.pickle")
df_22.rename(columns = {'coef':'2022_c'}, inplace = True)
df_22 = df_22.drop(columns=['coef_type','year'])

In [ ]:
df_list = [df_10, df_11, df_12, df_13, df_15, df_16, df_17, df_18, df_19, df_20, df_21, df_22]
#df = pd.merge(df_list, right on='feature', how='outer')

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), df_list)
df_high = pd.merge(df_merged, new_col, on='feature', how='outer')

In [ ]:
#2010
df_10 = pd.read_pickle("RESULTS10_coef_low.pickle")
df_10.rename(columns = {'coef':'2010_c'}, inplace = True)
df_10 = df_10.drop(columns=['coef_type','year'])
#2011
df_11 = pd.read_pickle("RESULTS11_coef_low.pickle")
df_11.rename(columns = {'coef':'2011_c'}, inplace = True)
df_11 = df_11.drop(columns=['coef_type','year'])
#2012
df_12 = pd.read_pickle("RESULTS12_coef_low.pickle")
df_12.rename(columns = {'coef':'2012_c'}, inplace = True)
df_12 = df_12.drop(columns=['coef_type','year'])
#2013
df_13 = pd.read_pickle("RESULTS13_coef_low.pickle")
df_13.rename(columns = {'coef':'2013_c'}, inplace = True)
df_13 = df_13.drop(columns=['coef_type','year'])
#2014
df_14 = pd.read_pickle("RESULTS14_coef_low.pickle")
df_14.rename(columns = {'coef':'2014_c'}, inplace = True)
df_14 = df_14.drop(columns=['coef_type','year'])
#2015
df_15 = pd.read_pickle("RESULTS15_coef_low.pickle")
df_15.rename(columns = {'coef':'2015_c'}, inplace = True)
df_15 = df_15.drop(columns=['coef_type','year'])
#2016
df_16 = pd.read_pickle("RESULTS16_coef_low.pickle")
df_16.rename(columns = {'coef':'2016_c'}, inplace = True)
df_16 = df_16.drop(columns=['coef_type','year'])
#2017
df_17 = pd.read_pickle("RESULTS17_coef_low.pickle")
df_17.rename(columns = {'coef':'2017_c'}, inplace = True)
df_17 = df_17.drop(columns=['coef_type','year'])
#2018
df_18 = pd.read_pickle("RESULTS18_coef_low.pickle")
df_18.rename(columns = {'coef':'2018_c'}, inplace = True)
df_18 = df_18.drop(columns=['coef_type','year'])
#2019
df_19 = pd.read_pickle("RESULTS19_coef_low.pickle")
df_19.rename(columns = {'coef':'2019_c'}, inplace = True)
df_19 = df_19.drop(columns=['coef_type','year'])
#2020
df_20 = pd.read_pickle("RESULTS20_coef_low.pickle")
df_20.rename(columns = {'coef':'2020_c'}, inplace = True)
df_20 = df_20.drop(columns=['coef_type','year'])
#2021
df_21 = pd.read_pickle("RESULTS21_coef_low.pickle")
df_21.rename(columns = {'coef':'2021_c'}, inplace = True)
df_21 = df_21.drop(columns=['coef_type','year'])
#2022
df_22 = pd.read_pickle("RESULTS22_coef_low.pickle")
df_22.rename(columns = {'coef':'2022_c'}, inplace = True)
df_22 = df_22.drop(columns=['coef_type','year'])

In [ ]:
df_list = [df_10, df_11, df_12, df_13, df_15, df_16, df_17, df_18, df_19, df_20, df_21, df_22]
#df = pd.merge(df_list, right on='feature', how='outer')

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['feature'],how='outer'), df_list)
df_low = pd.merge(df_merged, new_col, on='feature', how='outer')

In [ ]:
df_high.groupby(by=['source']).mean()

In [ ]:
df_low.groupby(by=['source']).mean()