In [1]:
import pandas as pd
from functools import reduce
from nltk import word_tokenize, pos_tag, pos_tag_sents
import pickle

In [5]:
result = pd.read_csv(r"C:\Users\danie\Documents\GitHub\Masters-Thesis\Word Databases\CSV Complete Word List.csv")

In [6]:
df = result
texts = df['feature'].tolist()
tagged_texts = pos_tag_sents(map(word_tokenize, texts))
df['POS'] = tagged_texts
df

      Unnamed: 0      feature          source                   POS
0           1878         wait           power          [(wait, NN)]
1           1932      worship           power       [(worship, NN)]
2           1951    apologize           power     [(apologize, VB)]
3           1952       assist           power        [(assist, NN)]
4           1953       behold           power        [(behold, NN)]
...          ...          ...             ...                   ...
1722         981  intangibles  Occupation_489  [(intangibles, NNS)]
1723         982     succinct  Occupation_490      [(succinct, NN)]
1724         983      shouted  Occupation_491      [(shouted, VBN)]
1725         984      devious  Occupation_492       [(devious, JJ)]
1726         985       replay  Occupation_493        [(replay, NN)]

[1727 rows x 4 columns]

In [7]:
df3 = df.POS.apply(pd.Series)
df3.columns = ['1']
df3['a'] = df3['1'].str[1]
df3['b'] = df3['1'].str[0]

In [11]:
df3

                       1    a            b
0             (wait, NN)   NN         wait
1          (worship, NN)   NN      worship
2        (apologize, VB)   VB    apologize
3           (assist, NN)   NN       assist
4           (behold, NN)   NN       behold
...                  ...  ...          ...
1722  (intangibles, NNS)  NNS  intangibles
1723      (succinct, NN)   NN     succinct
1724      (shouted, VBN)  VBN      shouted
1725       (devious, JJ)   JJ      devious
1726        (replay, NN)   NN       replay

[1727 rows x 3 columns]

In [12]:
df3['a'].value_counts()

NN     1192
NNS     242
JJ      151
VBG      59
VBN      39
RB       23
VB        9
JJS       3
PRP       2
VBZ       2
NNP       2
IN        1
JJR       1
VBD       1
Name: a, dtype: int64

In [13]:
new_col = pd.merge(df, df3, left_on = df3['b'], right_on= df['feature'])
new_col = new_col.rename(columns = {'a': 'pos_tag'})
new_col = new_col.drop(columns=['POS','1','b','key_0'])
left = new_col['pos_tag'].str[:1]
left = pd.DataFrame(left)
left = left.rename(columns={'pos_tag':'pos_tag_short'})

In [14]:
pos_tags = new_col.join(left, on=new_col.index)

In [20]:
pos_tags['pos_tag_short'] = pos_tags['pos_tag_short'].replace({'R':'J', 'I':'N', 'P':'N'})

In [22]:
pos_tags['pos_tag_short'].value_counts()

N    1509
J     194
V     118
Name: pos_tag_short, dtype: int64

In [23]:
new_file_name ="pos_tag_word_list"

with open(new_file_name, 'wb') as handle:
    pickle.dump(pos_tags, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [36]:
pos_tags['pos_tag_short'].value_counts()

N    628
J    111
V     38
Name: pos_tag_short, dtype: int64